*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading-main{
    width: 300px;
    position: relative;
    z-index: 111;
    background-color: #ffffff;
    font-size: 40px;
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.big-div1{
    width: 100%;
   background-color: rgb(221, 223, 223);
   border-top: 2px dashed #bbbbbb;
   margin-top: 15px;
}
.search-form1{
    max-width: 330px;
    height: 30px;
    background-color: #ffffff;
    margin-left: 33%;
    margin-top: -60px;
    position: relative;
}
.search-bar1{
  
    padding: 12px 10px;
    border-radius: 10px;
    outline: none;
    width: 285px;

}
.search-bar-button{
  position: absolute !important;
  padding: 14px 20px !important;
  outline: none !important;
  border: none !important;
  height: auto !important;
  width: auto !important;
  right: 0%;
}
.post {
    /* border: 1px solid black; */
    min-height: 25vh;
    width: 88%;
    background-color: white;
    margin: 2rem;
    padding: 1.5rem;
    margin-left: 80px;
    margin-top: 13px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.post button{
    background-color: rgb(133, 133, 133);
  
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white ;

}
.profileInfoDiv{
    height: 6vh;
    min-width: 100px;
    max-width: 500px;
    /* background-color: #1c4e80; */
    margin-top: -10px;
   
}
.profilePicture{
    width: 37px;
    height: 37px ;
    border-radius:50px;
}
.accountName{
    /* background-color: rgb(108, 227, 227); */
    margin-top: -33px;
    min-width: 100px;
    max-width: 250px;
    margin-left: 50px;
    font-size: 0.80rem;
    font-weight: bold;
}
.accountEmail{
    /* background-color: rgb(75, 176, 176); */
    
    display: inline-block;
    height: 14px;
    min-width: 100px;
    text-align: center;
    margin-left: 50px;
    font-size: 0.70rem;
    font-weight: 700; 
    margin-top:-50px;
    color: rgb(123, 128, 128);
    
}
.contentDiv{
    /* background-color: aqua; */
    margin-top: 25px;

}
.title {
    /* background-color: #ffffff; */
    min-width: 45vh;
    margin-bottom: -10px;
    font-size: 2rem;
}
.text{
    margin-top: 10px;
}
.lowerDiv{
    margin-top: 40px;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.posting1{
    width: 88%;
   min-height: 54vh;
    background-color: #ffffff;
    margin-left: 80px;
    margin-top: 80px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    
}                                      
.headingOfPost,.discriptionOfPost{
    width: 85%;
    height: 40px;
    border-radius: 10px;
    border-color:rgb(240, 240, 240) ;
    margin-top: 40px;
    border: 1px solid #C6CCD2;
    border-style: groove;
    resize: none;
    font-family: unset;
    color: #363738;
    padding-left: 10px;
    margin-left: 75px;
}
.headingOfPost,.discriptionOfPost::placeholder{
    font-size: 17px;
}
.discriptionOfPost{

    height: 25vh;
    margin-top: 20px;
    padding-top: 10px;
}
.submit{
    height: 33px;
    width: 140px;
    margin-top: 12px;
    border-radius: 6px;
    border-style: none ;
    background-color: #7749F8;
    color: white;
    font-weight: 550;
    font-size: 17px;
    margin-left: 75px;
}

.post-Display{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    border-top: 1px solid;
    margin-top: 40px;

}
.allBlog{
    width: 26%;
    height: 7vh;
    background-color: transparent;
    font-size: 30px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

/* css of editing post */
#postTitleInput{
    width: 97%;
    height: 40px;
    border-radius: 5px;
    border-color:rgb(240, 240, 240) ;
    margin-top: 40px;
    border: 2px solid #000000;
    border-style: groove;
    color: #363738;
    /* background-color: #000000; */
    padding-left: 10px;
    margin-left: 15px;
    margin-top: -30px;
}
#postTextInput{
    width: 97%;
    min-height: 140px;
    border-radius: 5px;
    border-color:rgb(240, 240, 240) ;
    margin-top: 40px;
    border: 2px solid #000000;
    border-style: groove;
    color: #363738;
    /* background-color: #000000; */
    padding-left: 10px;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 20px;
}
.save-button{
    margin-left: 15px;
    margin-top: 20px;
}
.cancel-button{
    margin-left: 30px;
}